@import 'variables.less';
@import './grayscale-theme.less';

#me {
    height: 200px;
    width: 300px;
    margin-bottom: 25px;
    border: 2px solid @light-blue;
}

img {
    border-radius: 4px;
}

.content-section {
    padding-top: 50px;
}

.project-row {
    margin-top: 30px;
    margin-bottom: 30px;
}

.project-content {
    text-align: left;
}

.project-link {
    font-family: @open-sans;
    font-size: 14px;
}

.content-section--about,
.content-section--contact {
    background-color: @gray;

    a {
        color: @dark-blue;

        &:hover {
            color: @black;
        }
    }
}

.content-section--about {
    border-top: 2px solid @black;
    padding-bottom: 50px;
}

.content-section--code {
    background-color: @black;
    color: @white;
}

footer {
    background-color: @gray;
}

.card-img {
    display: inline-block;
    text-align: left;
    opacity: .99;
    overflow: hidden;
    position: relative;
    border-radius: 4px;
    box-shadow: 0 0 20px 0 rgba(0,0,0,.05);
    margin-bottom: 24px;

    &:before {
        content: '';
        background: linear-gradient(
            to bottom,
            rgba(0,0,0,0) 0%,
            rgba(0,0,0,1) 100%
        );
        width: 100%;
        height: 100%;
        opacity: 0;
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 2;
        transition-property: top, opacity;
        transition-duration: 0.3s;
    }

    img {
        display: block;
        max-width: 100%;
        backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
    }

    .details {
        display: flex;
        align-items: center;
        justify-content: center;
        color: @white;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: 0;;
        z-index: 3;
        
        span {
            display: block;
            opacity: 0;
            position: relative;
            top: 100px;
            transition-property: top, opacity;
            transition-duration: 0.3s;
            transition-delay: 0s;
        }
        
        .text {
            color: @white;
            line-height: 1;
            font-size: 24px;
            font-weight: 700;
        }
    }
    
    &:focus,
    &:hover {
        
        &:before,
        span {
            opacity: 1;
        }
        
        &:before {
            top: 0;
        }
        
        span {
            top: 0;
        }
        
        .text {
            transition-delay: 0.15s;
        }
    }
}
  

@media screen and (min-width: @resolution-medium) {
    .project-row {
        margin-top: 50px;
        margin-bottom: 50px;
    }
}

@media screen and (min-width: @resolution-large) {
    .project-row {
        margin-top: 80px;
        margin-bottom: 80px;
    }

    .card-img {
        margin-bottom: 0;
    }
}
