body {
  width: 100%;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #434343;
}
html {
  width: 100%;
  height: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 16px 0;
  font-family: 'Philosopher', sans-serif;
  letter-spacing: 1px;
}
p {
  margin: 0 0 16px;
  line-height: 1.6;
}
a {
  text-decoration: underline;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.navbar-custom {
  margin-bottom: 0;
  background: rgba(182, 214, 232, 0.95);
  text-transform: uppercase;
}
.navbar-custom .navbar-brand .navbar-toggle {
  padding: 4px 6px;
  font-size: 16px;
  color: #537189;
}
.navbar-custom .navbar-brand .navbar-toggle:focus,
.navbar-custom .navbar-brand .navbar-toggle:active {
  outline: 0;
}
.navbar-custom a {
  color: #434343;
  text-decoration: none;
}
.navbar-custom a:hover {
  text-decoration: underline;
}
.navbar-custom .nav li a {
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}
.navbar-custom .nav li a:focus,
.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:active {
  outline: 0;
  background-color: transparent;
  text-decoration: underline;
}
.navbar-custom .nav li.active {
  outline: 0;
}
.navbar-custom .nav li.active a {
  background-color: rgba(255, 255, 255, 0.3);
}
@media (min-width: 768px) {
  .navbar-custom {
    padding: 20px 0;
    border-bottom: 0;
    letter-spacing: 1px;
    -webkit-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
    -moz-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
    transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
  }
  .navbar-custom.top-nav-collapse {
    padding: 0;
    background: #b6d6e8;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  }
}
.intro {
  display: table;
  width: 100%;
  height: auto;
  padding: 100px 0;
  text-align: center;
  color: #ffffff;
  background: url(hero.c0a374e7.png) no-repeat bottom center scroll;
  background-color: #434343;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
.intro .intro-body {
  display: table-cell;
  vertical-align: middle;
}
.intro .intro-body .brand-heading {
  font-size: 40px;
  color: #b56524;
}
.intro .intro-body .intro-text {
  font-size: 18px;
  color: #434343;
}
@media (min-width: 768px) {
  .intro {
    height: 100%;
    padding: 0;
  }
  .intro .intro-body .brand-heading {
    font-size: 50px;
  }
  .intro .intro-body .intro-text {
    font-size: 20px;
  }
}
.btn-circle {
  width: 70px;
  height: 70px;
  margin-top: 15px;
  padding: 7px 16px;
  border: 2px solid #434343;
  border-radius: 100% !important;
  font-size: 40px;
  color: #434343;
  background: 0 0;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}
.btn-circle:hover,
.btn-circle:focus {
  outline: 0;
}
.btn-circle i.animated {
  -webkit-transition-property: -webkit-transform;
  -webkit-transition-duration: 1s;
  -moz-transition-property: -moz-transform;
  -moz-transition-duration: 1s;
}
.btn-circle:hover i.animated {
  -webkit-animation-name: pulse;
  -moz-animation-name: pulse;
  -webkit-animation-duration: 1.5s;
  -moz-animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
}
@-webkit-keyframes pulse {
  0 {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@-moz-keyframes pulse {
  0 {
    -moz-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -moz-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    -moz-transform: scale(1);
    transform: scale(1);
  }
}
.btn {
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border-radius: 0;
}
ul.banner-social-buttons {
  margin-top: 45px;
}
@media (max-width: 768px) {
  ul.banner-social-buttons li {
    display: block;
    margin-bottom: 20px;
    padding: 0;
  }
  ul.banner-social-buttons li:last-child {
    margin-bottom: 0;
  }
}
footer {
  padding: 50px 0;
}
footer p {
  margin: 0;
  font-size: 1.5rem;
}
::-moz-selection {
  text-shadow: none;
  background: #ffffff;
  background: rgba(255, 255, 255, 0.2);
}
::selection {
  text-shadow: none;
  background: #ffffff;
  background: rgba(255, 255, 255, 0.2);
}
img::selection {
  background: 0 0;
}
img::-moz-selection {
  background: 0 0;
}
body {
  webkit-tap-highlight-color: rgba(255, 255, 255, 0.2);
}
#me {
  height: 200px;
  width: 300px;
  margin-bottom: 25px;
  border: 2px solid #b6d6e8;
}
img {
  border-radius: 4px;
}
.content-section {
  padding-top: 50px;
}
.project-row {
  margin-top: 30px;
  margin-bottom: 30px;
}
.project-content {
  text-align: left;
}
.project-link {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}
.content-section--light {
  background-color: #efeeea;
}
.content-section--light a {
  color: #434343;
}
.content-section--light a:hover,
.content-section--light a:focus {
  color: #000000;
}
.content-section--dark {
  background-color: #434343;
  color: #ffffff;
}
.content-section--dark a {
  color: #ffffff;
}
.content-section--dark a:hover,
.content-section--dark a:focus {
  color: #b6d6e8;
}
.content-section--about {
  border-top: 2px solid #434343;
  padding-bottom: 50px;
}
.card-img {
  display: inline-block;
  text-align: left;
  opacity: 0.99;
  overflow: hidden;
  position: relative;
  border-radius: 4px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.05);
  margin-bottom: 24px;
}
.card-img:before {
  content: '';
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, #000000 100%);
  width: 100%;
  height: 100%;
  opacity: 0;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 2;
  transition-property: top, opacity;
  transition-duration: 0.3s;
}
.card-img img {
  display: block;
  max-width: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}
.card-img .details {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0;
  z-index: 3;
}
.card-img .details span {
  display: block;
  opacity: 0;
  position: relative;
  top: 100px;
  transition-property: top, opacity;
  transition-duration: 0.3s;
  transition-delay: 0s;
}
.card-img .details .text {
  color: #ffffff;
  line-height: 1;
  font-size: 24px;
  font-weight: 700;
}
.card-img:focus:before,
.card-img:hover:before,
.card-img:focus span,
.card-img:hover span {
  opacity: 1;
}
.card-img:focus:before,
.card-img:hover:before {
  top: 0;
}
.card-img:focus span,
.card-img:hover span {
  top: 0;
}
.card-img:focus .text,
.card-img:hover .text {
  transition-delay: 0.15s;
}
.link--small {
  font-size: 12px;
}
@media screen and (min-width: 768px) {
  .project-row {
    margin-top: 50px;
    margin-bottom: 50px;
  }
}
@media screen and (min-width: 992px) {
  .project-row {
    margin-top: 80px;
    margin-bottom: 80px;
  }
  .card-img {
    margin-bottom: 0;
  }
}


/*# sourceMappingURL=/styles.5caa8ffe.css.map */